apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: insurance
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: 005783449450.dkr.ecr.us-east-1.amazonaws.com/sinistre/gateway:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://discovery:8761/eureka/"

---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: insurance
spec:
  selector:
    app: api-gateway
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
  type: NodePort